/* ----------> BODY INDEX */
.body__index--background{
    background-image: url("../img/background-image.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}